   body {
    background-image: url('D:\wardexp\wardexp\src\components\wardexp\bgpanchayat.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
form {
    max-width: 480px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff; 
}
 /* .ward-maintenance-form .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
 }  */
/* .ward-maintenance-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}  */

 h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

 form {
    display: flex;
    flex-direction: column;
} 

 label {
    font-size: 14px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #060505;
}

.ward-maintenance-form input,
.ward-maintenance-form select,
.ward-maintenance-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.ward-maintenance-form textarea {
    resize: none;
} 

